[Unit]
Description=Octoprint Prometheus Exporter
ConditionPathExists=/opt/octoprint/octoprint.bin
After=network.target
 
[Service]
Type=simple
User=root
Group=root

Restart=on-failure
RestartSec=30

WorkingDirectory=/opt/octoprint/
ExecStart=/opt/octoprint/octoprint.bin --config=/opt/octoprint/config.yaml
 
[Install]
WantedBy=multi-user.target